.itemContent {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.itemCreated {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-style: italic;
}
